@model HOGRegister.Models.Settings

@{
    Layout = "~/Views/Shared/DetailsLayout.cshtml";
    ViewBag.Title = "Settings";
    int j = 5;

}


<!--
    settings should help with the following:
    1. Services: i.e. days of the week to be considered as a service e.g. 1x a week, 2x a week....
    1a. Service Day(s): Monday, Tuesday, Wednesday...
    2. Calculation period: i.e. time that determines when the missed services be calculated consecutively. e.g. 2 weeks
    3. Action: this is what should happen after calculation e.g. suspend/disable/nothing(default)
    3a. Action runtime: time of the day
    4. Report template: none/story
    5. Report day(s): datetime
-->
<!-- InnerPage breadcrumb begin -->
<section id="apus-breadscrumb" class="breadcrumb-page apus-breadscrumb default">
    <div class="container">
        <div class="wrapper-breads">
            <div class="wrapper-breads-inner">
                <div class="breadscrumb-inner flex-middle-sm clearfix">
                    <div class="ali-right">
                        <h2 class="bread-title">Settings</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- InnerPage breadcrumb end -->
<!-- InnerPage content begin -->
<section id="main-container" class="container inner">
    <div class="row">
        <div id="main-content" class="main-page col-xs-12 clearfix">
            <div id="main" class="site-main clearfix" role="main">

                <div data-elementor-type="wp-post" data-elementor-id="19" class="elementor elementor-19" data-elementor-settings="[]">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section class="elementor-element elementor-element-2eb1630 elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="2eb1630" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-8ed1021 elementor-column elementor-col-100 elementor-top-column" data-id="8ed1021" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-68d49a3 elementor-widget elementor-widget-spacer" data-id="68d49a3" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-element elementor-element-e0dc248 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e0dc248" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1263px; left: -26.6667px;">
                                <div class="elementor-container elementor-column-gap-extended">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-8d8b9d7 elementor-column elementor-col-50 elementor-top-column" data-id="8d8b9d7" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-cfe8c2a elementor-widget elementor-widget-text-editor" data-id="cfe8c2a" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <div class="wrapper-contact">
                                                                    <div class="contact-icon text-theme"><i class="fa fa-gears"></i></div>
                                                                    <h3 class="title">Services</h3><br>
                                                                    <div role="form" class="wpcf7" id="wpcf7-f151-p19-o1" lang="en-US" dir="ltr">
                                                                        <div class="screen-reader-response"></div>
                                                                        <form action="~/Admin/Settings" method="post" class="wpcf7-form" novalidate="novalidate">

                                                                            <div class="contact-us">
                                                                                <div class="form-group">
                                                                                    <label for="job_alert_form_widget-4_title">Status</label>
                                                                                    <div>
                                                                                        @if (Model.Status == "ON")
                                                                                        {
                                                                                            <label class="radio-inline"><input type="radio" name="Status" value="ON" class="input-radio" id="job_alert_form_widget-4_title" checked>ON</label>
                                                                                            <label class="radio-inline"><input type="radio" name="Status" value="OFF" class="input-radio" id="job_alert_form_widget-4_title">OFF</label>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <label class="radio-inline"><input type="radio" name="Status" value="ON" class="input-radio" id="job_alert_form_widget-4_title">ON</label>
                                                                                            <label class="radio-inline"><input type="radio" name="Status" value="OFF" class="input-radio" id="job_alert_form_widget-4_title" checked>OFF</label>
                                                                                        }

                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label>Frequency:</label> <small>(how often should the calculation be done in days)</small><br>

                                                                                    <span class="wpcf7-form-control-wrap your-name">
                                                                                        <input type="number" name="Frequency" value="@Model.Frequency" size="5
                                                                                               " class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false">
                                                                                    </span>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label>Erring Period:</label> <small>(number of absential weeks in days action)</small><br>

                                                                                    <span class="wpcf7-form-control-wrap your-name">
                                                                                        <input type="number" name="ActionPeriod" value="@Model.ActionPeriod" size="5
                                                                                               " class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="days of absential count in a row">
                                                                                    </span>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="job_alert_form_widget-4_email_frequency">Action Type:</label>

                                                                                    <div>
                                                                                        @foreach (string action in Enum.GetNames(typeof(HOGRegister.Models.ActionValue)))
                                                                                        {
                                                                                            if (Model.Action == (int)Enum.Parse(typeof(HOGRegister.Models.ActionValue), action))
                                                                                            {
                                                                                                <label class="radio-inline"><input type="radio" name="Action" value="@((int)Enum.Parse(typeof(HOGRegister.Models.ActionValue), action))" class="input-radio" id="job_alert_form_widget-4_title" checked />@string.Format("{0}", action.ToString())</label>

                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <label class="radio-inline"><input type="radio" name="Action" value="@((int)Enum.Parse(typeof(HOGRegister.Models.ActionValue), action))" class="input-radio" id="job_alert_form_widget-4_title" />@string.Format("{0}", action.ToString())</label>
                                                                                            }
                                                                                        }

                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <input type="submit" value="UPDATE SERVICE" class="wpcf7-form-control wpcf7-submit btn btn-theme btn-sm"><span class="ajax-loader"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </section>


                            <section class="elementor-element elementor-element-119ae40 elementor-section-stretched elementor-section-full_width elementor-hidden-tablet elementor-hidden-phone elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="119ae40" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1263px; left: -26.6667px;">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-6b83a55 elementor-column elementor-col-100 elementor-top-column" data-id="6b83a55" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-d748f18 elementor-widget elementor-widget-spacer" data-id="d748f18" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div><!-- .site-main -->
        </div><!-- .content-area -->
    </div>
</section>
<!-- InnerPage content end -->